:root {
    --primary: #1e90ff;
    --secondary: #03459E;
    --white:#fff;
    --black: #1d2024;
    --border-color: rgba(236, 239, 241, 0.07);
    --primary-font:Quattrocento Sans, sans-serif;
    --icon-font: themefisher-font;
}
.btn-top  a:before {
     content: '';
     height: 90%;
     width: 100%;
     border-radius: 0 0 50% 50%/ 0 0 100% 100%;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     position: absolute;
     left: 0;
     top: 0;
     transition: all 0.3s ease 0s;
 }
 .pricingTable .pricingTable-signup a:hover:before {
     border-radius: 0;
 }